{% extends "base.html" %}
{% block content %}

   <div class="biografia">
    <h1>Biografia De Hades66</h1>
    </div>

    <br><br><br><br><br><br><br><br>

    <div class="portada">
        <h2>El pulpo</h2>
        <P>
            Ángel Yamil Santiago Vázquez, conocido artísticamente como Hades66, es un rapero puertorriqueño nacido el 2 de septiembre en Guaynabo, Puerto Rico. 
            Desde temprana edad, mostró un fuerte interés por la música, especialmente en el género urbano. Comenzó su carrera compartiendo sus primeros lanzamientos en plataformas digitales y redes sociales.
            destacándose rápidamente en la escena musical boricua. 
        </P>

        <p>
            Su estilo se caracteriza por una mezcla de trap y reguetón con un enfoque oscuro y agresivo, lo que le ha permitido crear un sonido distintivo en la escena urbana. 
            Entre sus canciones más destacadas se encuentran "Pacto", "Lukeando", "UuU1", "Emociones", "Manhattan", "Cloniao", "Brillan" y "Presidente". 
            El remix de su canción "Pacto" ha acumulado más de 90 millones de reproducciones en Spotify.
        </p>

        <p>
            En abril de 2023, lanzó su álbum debut titulado El 6EI66EI6, consolidando su posición en la industria musical. 
            Su creciente popularidad también se refleja en sus redes sociales, donde ha acumulado una significativa base de seguidores.
        </p>
    </div>
    
    <br><br><br><br>
    
    <div class="botones">
        <a href="{{url_for('inicio')}}">regreso</a>
    </div>

{% endblock %}