{% extends "base.html" %}
{% block content %}

  <div class="biografia">
    <h1>Biografia De Luar L</h1>
    </div>

    <br><br><br><br><br><br><br><br>

    <div class="portada">
        <h2>KHEEEE!</h2>
        <P>Raúl Armando del Valle Robles, conocido como Luar La L, nació el <B>29 de mayo de 2000 en Carolina</B>,
             Puerto Rico. Es hijo de Brenda Robles, ex Miss Puerto Rico, y del músico de merengue Raúl Armando.

        </P>
        <p>
             Luar La L es un cantante y compositor de trap, reguetón y drill, y ha sido considerado por la crítica 
             como una de las promesas del trap latino. Inició su carrera musical en 2018 y ha estado asociado 
             con sellos discográficos como White Lion Records y Warner Music Latina.
        </p>
        <ol>
       <li>Reconocimiento en el genero urbano</li>
            <ul><li>uar La L ha sido considerado una de las nuevas promesas del trap latino y ha ganado popularidad tanto en Puerto Rico como en América Latina.</li></ul>
        <li>Colaboraciones con grandes artistas</li>
            <ul><li>Ha trabajado con artistas reconocidos como Anuel AA, Bryant Myers, Almighty, Omy de Oro, YOVNGCHIMI, Yovng Iverson, entre otros.</li></ul> 
        <li>Contraato Con grandes sellos</li>
            <ul>
                <li>Firmó con White Lion Records, el sello de Elías de León (conocido por descubrir a artistas como Tego Calderón y Calle 13).</li>
                <li>También ha estado vinculado a Warner Music Latina, lo que le ha dado una proyección internacional.</li>
            </ul>
        <ul>Popularidad en plataformas digitales</ul>
            <ul><li>Varias de sus canciones han acumulado millones de reproducciones en YouTube y Spotify, consolidándolo como una figura relevante del trap boricua.</li></ul>
        <li>Estilo Distintivo</li>
            <ul><li>Se destaca por un estilo crudo y realista que retrata la vida en los barrios, lo que le ha ganado una fuerte conexión con su público joven.</li></ul>
        </ol>

    </div>
    <br><br><br><br>
    
    <div class="botones">
        <a href="{{url_for('inicio')}}">regreso</a>
    </div>

{% endblock %}