{% extends "base.html" %}
{% block content %}

 <div class="biografia">
    <h1>Biografia De Roa</h1>
    </div>

    <br><br><br><br><br><br><br><br>

    <div class="enunciado">
        <h2>El lobo</h2>
        <P>
            Gilberto Figueroa, conocido artísticamente como ROA, es un cantante puertorriqueño nacido 
            el <b>28 de mayo de 1996 en Naranjito</b>, Puerto Rico. Antes de dedicarse a la música, trabajó 
            como modelo, lo que lo llevó a participar en el video musical <b>"Fingías"</b> de Paloma Mami, 
            quien posteriormente se convirtió en su pareja.
        </P>
        <p>
            ROA es reconocido por su estilo que fusiona trap-soul, reguetón y R&B. Algunas de sus canciones 
            destacadas incluyen <b>"Bellakeame"</b> y <b>"Jetski"</b>, esta última en colaboración con Bryant Myers y Omar Courtz.
             En febrero de 2025, lanzó el sencillo <b>"Fantasía"</b>, que combina elementos de trap contemporáneo y R&B, 
             explorando las complejidades de los deseos no expresados.
        </p>
        <ol>
        <li>Éxito en listas musicales</li>
            <ul><li>Su sencillo "ETA RMX" alcanzó el puesto #1 en el Top 25 de Apple Music en San Juan y se posicionó en el Top 10 de los rankings latinos globales de Shazam. Además, entró en las listas de Daily Viral Songs Global (#77) y EE.UU. (#87) en Spotify.</li></ul>
        <li>Reconocimiento internacional</li>
            <ul><li>ROA ha sido destacado como uno de los “nuevos artistas en alerta” de 2025, según Billboard. </li></ul>
        <li>Colaboraciones destacadas:</li>
            <ul><li>Ha trabajado con artistas como Bryant Myers, Omar Courtz, Dei V, Hades66 y Luar La L, ampliando su presencia en la escena urbana. </li></ul>
        </ol>
    </div>
    <br><br><br><br>

    <div class="botones">
        <a href="{{url_for('inicio')}}">regreso</a>
    </div>

{% endblock %}