{% extends "base.html" %}
{% block content %}

    <div class="biografia">
    <h1>Biografia De Mora</h1>
    </div>

    <br><br><br><br><br><br><br><br>

    <div class="portada">
        <h2>El desaparecido</h2>
        <P>
            Gabriel Mora Quintero, conocido artísticamente como Mora, nació el 18 de abril de 1992 en San Juan, Puerto Rico. 
            Es un cantante, compositor y productor musical que ha emergido como una de las voces más influyentes de la nueva generación del género urbano latino. 
            Su estilo se caracteriza por una fusión de reguetón, trap, pop alternativo y sonidos experimentales, lo que le ha permitido destacarse en un panorama musical altamente competitivo.
        </P>

        <p>
            Desde joven, Mora mostró interés por la música, componiendo y produciendo en su habitación con herramientas básicas. 
            En sus inicios, compartía sus trabajos a través de plataformas como SoundCloud, donde fue ganando seguidores por sus propuestas frescas y melódicas. 
            Su talento llamó la atención de artistas ya consolidados, especialmente Bad Bunny, quien lo apadrinó en varios proyectos y fue clave en el impulso de su carrera.
        </p>

        <p>
            Mora comenzó escribiendo y produciendo para otros artistas, destacándose por su capacidad lírica y musical. 
            Uno de sus primeros grandes logros fue coescribir varias canciones del exitoso álbum YHLQMDLG (2020) de Bad Bunny, como “La Difícil” y “Una Vez” (ft. Mora), 
            lo que lo posicionó como un nombre emergente en la industria.
        </p>

        <p>
            En 2021 lanzó su primer álbum de estudio, "Primer Día de Clases", un proyecto que recibió elogios por su sonido innovador, producción sólida y letras introspectivas. 
            Incluye canciones como “Volando”, “512” y “Cuando Sera”. Ese mismo año participó en múltiples colaboraciones con artistas como Jhay Cortez, Eladio Carrión, Feid, Sech, y Lunay.
        </p>

    </div>
    
    <br><br><br><br>
    
    <div class="botones">
        <a href="{{url_for('inicio')}}">regreso</a>
    </div>

{% endblock %}