{% extends "base.html" %}
{% block content %}

   <div class="biografia">
    <h1>Biografia De Kriss R</h1>
    </div>

    <br><br><br><br><br><br><br><br>

    <div class="portada">
        <h2>lA K</h2>
        <P>
            Kristian Rangel Betancur, conocido artísticamente como Kris R, es un cantante, compositor y rapero estadounidense de raíces latinas, 
            nacido el 12 de febrero de 2001 en Nueva York, Estados Unidos. Durante su infancia, su familia se trasladó a Medellín, Colombia, donde fue criado 
            y comenzó a desarrollar su pasión por la música urbana.
        </P>

        <p>
            A los 15 años, escribió y grabó su primera canción titulada "El Rey de los Cielos", marcando el inicio de su carrera musical. 
            Desde entonces, ha colaborado con reconocidos artistas del género urbano como Jowell & Randy, Ñengo Flow, Rauw Alejandro y J Balvin.
        </p>

        <p>
            u estilo musical fusiona las vivencias de su entorno con una propuesta fresca y moderna, interpretando tanto en inglés como en español. 
            Entre sus canciones más populares se encuentran "Polos Opuestos", "Ultra Complicado", "Tremenda HP", "Cariñitos y Flores", "Las Piponas" y "Sople".
             Actualmente, Kris R se encuentra trabajando en nuevos proyectos en España, consolidándose como una de las promesas del trap colombiano.
        </p>
    </div>
    
    <br><br><br><br>
    
    <div class="botones">
        <a href="{{url_for('inicio')}}">regreso</a>
    </div>

{% endblock %}