{% extends "base.html" %}
{% block content %}

       <div class="biografia">
    <h1>Biografia De Bryant Myers</h1>
    </div>

    <br><br><br><br><br><br><br><br>

    <div class="portada">
        <h2>Bryant Myers</h2>
        <P>
            Bryan Robert Rohena Pérez, conocido artísticamente como Bryant Myers, nació el 5 de abril de 1998 en Carolina, Puerto Rico. 
            Creció en un ambiente humilde en el barrio Loma Alta, donde las dificultades económicas marcaron su infancia.
            Desde joven encontró en la música una vía de escape, y comenzó a escribir letras y grabar canciones desde su habitación utilizando un celular y un micrófono casero.
        </P>

        <p>
            En 2015 se hizo viral en SoundCloud y YouTube con su tema “Esclava”, que luego tuvo un remix junto a Anuel AA y Almighty, y lo catapultó a la fama en el naciente movimiento del trap latino. 
            Se convirtió en uno de los pioneros del género, conocido por su estilo crudo, directo y oscuro. Las letras de Myers suelen hablar de la calle, el amor, la traición y la superación.
        </p>

        <p>
            A lo largo de su carrera, ha trabajado con importantes figuras como Bad Bunny (“Pa Ti”), Noriel, Maluma, Miky Woodz, Eladio Carrión y Myke Towers. Su primer álbum, La Oscuridad, se lanzó en 2018, y luego le siguió Bendecido (2020), 
            mostrando una madurez musical y lírica. Entre sus canciones más destacadas están “Gan-Ga”, “Triste”, “Tanta Falta”, “Hasta Abajo” y “WOW Remix”. Bryant Myers ha sido reconocido por mantener su autenticidad y estilo underground, 
            incluso cuando el trap se ha vuelto más comercial. Además, ha sido nominado a varios premios en los Latin Music Awards y Premios Juventud.
        </p>
        
    </div>
    
    <br><br><br><br>
    
    <div class="botones">
        <a href="{{url_for('inicio')}}">regreso</a>
    </div>

{% endblock %}