{% extends "base.html" %}
{% block content %}

    <div class="biografia">
    <h1>Biografia De Ozuna</h1>
    </div>

    <br><br><br><br><br><br><br><br>

    <div class="portada">
        <h2>el negrito de ojos claros</h2>
        <P>
           Juan Carlos Ozuna Rosado, conocido simplemente como Ozuna, nació el 13 de marzo de 1992 en San Juan, Puerto Rico. 
           De ascendencia dominicana por parte de su padre y puertorriqueña por parte de su madre, creció en un ambiente modesto y comenzó a escribir canciones desde los 12 años. 
           Su pasión por la música lo llevó a subir sus primeras composiciones a YouTube bajo el nombre de "J Oz".
        </P>

        <p>
            El gran salto a la fama lo dio en 2016 con su álbum debut Odisea, que incluyó hits como “Dile Que Tú Me Quieres”, “El Farsante”, y “Tu Foto”.
            Su estilo mezcla reguetón, trap latino y bachata, con una voz melódica y letras generalmente románticas o reflexivas. 
            Se le considera una de las figuras clave de la nueva ola del reguetón.
        </p>

        <p>
            Ozuna ha colaborado con grandes nombres de la música latina e internacional, como Daddy Yankee, Romeo Santos, Rosalía, Wisin & Yandel, Cardi B, DJ Snake, Doja Cat y Anuel AA.
            Entre sus álbumes más destacados se encuentran Aura (2018), Nibiru (2019), ENOC (2020) y OzuTochi (2022). 
            A lo largo de su carrera ha ganado numerosos premios, incluyendo Latin Grammy, Billboard Latin Music Awards y Premios Juventud.
            Con una imagen pulcra y mensajes positivos en sus canciones, Ozuna ha sido una figura influyente tanto musical como culturalmente, siendo parte del fenómeno global de la música urbana latina.
        </p>
    </div>
    
    <br><br><br><br>
    
    <div class="botones">
        <a href="{{url_for('inicio')}}">regreso</a>
    </div>

{% endblock %}