{% extends "base.html" %}
{% block content %}

   <div class="biografia">
    <h1>Biografia De Blessd</h1>
    </div>

    <br><br><br><br><br><br><br><br>

    <div class="portada">
        <h2>El bendito</h2>
        <P>
            stiven Mesa Londoño, conocido artísticamente como Blessd, nació el 27 de enero de 2000 en Itagüí, Antioquia, Colombia. 
            Desde joven, trabajó con sus padres en una central de abastos, lo que no impidió que persiguiera su sueño de ser cantante.
             Comenzó a producir música con recursos limitados y, en octubre de 2021, firmó con Warner Music Latina, 
             lanzando su primer álbum de estudio titulado "Hecho en Medellín". 
        </P>

        <p>
            Su canción más popular del álbum, "MEDALLO", alcanzó el número 1 en Colombia y ha acumulado más de 431 millones de reproducciones en YouTube. 
            En marzo de 2022, fue nominado a tres premios Heat Latin Music Awards, incluidos Mejor Artista Nuevo, Mejor Artista - Región Andina y Mejor Colaboración
            por la canción "MEDALLO"
        </p>
        <ol>
        <li>Éxito en plataformas digitales</li>
            <ul><li>Éxito en plataformas digitales</li></ul>
        <li>Reconocimiento en premios</li>
            <ul><li> En marzo de 2022, fue nominado a tres premios Heat Latin Music Awards, incluidos Mejor Artista Nuevo, Mejor Artista - Región Andina y Mejor Colaboración por la canción "MEDALLO".</li></ul>
        <li>Álbumes exitosos</li>
            <ul><li>Su segundo álbum de estudio, "Siempre Blessd", logró ubicar sus 13 canciones en el top 100 de Spotify. </li></ul>
        <li>Reconocimiento internacional</li>
            <ul><li>Su álbum "Sí Sabe", lanzado a principios de 2024, alcanzó el primer lugar en el "Top Albums Debut Global" de Spotify.</li></ul>
        </ol>
    </div>
    
    <br><br><br><br>
    
    <div class="botones">
        <a href="{{url_for('inicio')}}">regreso</a>
    </div>

{% endblock %}